<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108456563755-81c72j287tmbd1mfeoqcpej3o25cbeor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108456563755-81c72j287tmbd1mfeoqcpej3o25cbeor</string>
	<key>API_KEY</key>
	<string>AIzaSyC6xwjUPL4emev3lvHEcpbV0g82e6_A0hM</string>
	<key>GCM_SENDER_ID</key>
	<string>108456563755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fibreapp.translator</string>
	<key>PROJECT_ID</key>
	<string>translate-app-af0e6</string>
	<key>STORAGE_BUCKET</key>
	<string>translate-app-af0e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108456563755:ios:54ad00aab0db50c9e6c66e</string>
</dict>
</plist>